:root {
  /* General Values */

  /* General Background */
  --main-bg-color: blue;

  /* General Border */
  --main-border-color: red;

  /* General Text */
  --main-font-color: white;
  --main-font-size: 100%;
  --main-font-align: center;


  /* Body Class */
  --body-width: 100%;
  --body-height: 100%;
  --body-pos: absolute;
  --body-pos-x: 0;
  --body-pos-y: 0;


  /* Header */
  --header-width: 100%;
  --header-height: 10%;
  --header-pos: absolute;
  --header-pos-x: 0;
  --header-pos-y: 0;
  --header-border: 20px solid var(--main-border-color);
  --header-bg-color: yellow;


  /* Page */
  --page-width: 100%;
  --page-height: 80%;
  --page-pos: absolute;
  --page-pos-x: 0;
  --page-pos-y: 10%;
  --page-bg-color: green;


  /* Footer */
  --footer-width: 100%;
  --footer-height: 10%;
  --footer-pos: absolute;
  --footer-pos-x: 0;
  --footer-pos-y: 90%;
  --footer-border: 2px solid var(--main-border-color);
  --footer-bg-color: blue;


}

body{

  overflow-y: hidden;

}

div.body {

  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-size: var(--main-font-size);
  text-align: var(--main-font-align);
  width: var(--body-width);
  height: var(--body-height);
  position: var(--body-pos);
  top: var(--body-pos-y);
  left: var(--body-pos-x);
  overflow-y: hidden;

}

div.body > div.header {

  background-color: var(--header-bg-color);
  width: var(--header-width);
  height: var(--header-height);
  position: var(--header-pos);
  top: var(--header-pos-y);
  left: var(--header-pos-x);
  border-bottom: var(--header-border);

}

div.body > div.page {

  background-color: var(--page-bg-color);
  width: var(--page-width);
  height: var(--page-height);
  position: var(--page-pos);
  top: var(--page-pos-y);
  left: var(--page-pos-x);
  overflow-y: auto;

}

div.body > div.footer {

  background-color: var(--footer-bg-color);
  width: var(--footer-width);
  height: var(--footer-height);
  position: var(--footer-pos);
  top: var(--footer-pos-y);
  left: var(--footer-pos-x);
  border-top: var(--footer-border);

}
